{% extends 'main.html' %}
{% block content_l %}
  <style>
    .body {
      font-family: Arial, sans-serif;
      margin: 20px;
      padding: 20px;
      border: 1px solid #ccc;
      max-width: 400px;
      height: fit-content;
    }
    input {
      width: 100%;
      padding: 10px;
      margin: 5px 0;
      border: 1px solid #ccc;
      border-radius: 3px;
    }
    button {
      padding: 10px;
      margin: 5px 0;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      background-color: #28a745;
      color: white;
    }
    button.clear {
      background-color: #dc3545;
    }
  </style>
  <body class="body">
    <h2>Сокращение URL</h2>
    <form id="urlForm">
      <label for="urlInput">Введите URL для сокращения:</label>
      <input type="url" id="urlInput" placeholder="https://example.com" />
      <input id="urlCastom" placeholder="Желаемый URL без префикса" />
      <input id="urlInputDescrip" placeholder="Описание" />

      <button type="submit">Сократить</button>
      <button type="button" class="clear" onclick="clearFields()">Очистить</button>

      <hr />
      <input type="text" id="shortUrlInput" placeholder="Введите свой URL" />
    </form>
    <a href="#"><button onclick="getUrl()">Перейти</button></a>
  </body>
  <script>
    function clearFields() {
      document.getElementById('urlInput').value = ''
      document.getElementById('shortUrlInput').value = ''
    }
    
    async function getUrl() {
      const shortUrl_go = document.getElementById('shortUrlInput').value
      shortUrl = shortUrl_go
      //shortUrl = 'https://' + shortUrl_go
      console.log(shortUrl)
    
      // Переходим по URL
      //window.open(shortUrl, '_blank')
    
      try {
        const response = await fetch('/url_short_get/', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ shortUrl_go })
        })
    
        if (response.ok) {
          //const shortUrlForNew = document.getElementById('shortUrlInput')
          const result = await response.json()
    
          window.open(result.url, '_blank')
        } else {
          const errorResult = await response.json() // Получаем результат ошибки
          const shortUrlForNew = document.getElementById('shortUrlInput')
    
          if (response.status == 405) {
            shortUrlForNew.value = errorResult.error
          } else {
            shortUrlForNew.value = errorResult.error
          }
    
          console.log('Ошибка от сервера:', errorResult)
        }
      } catch (error) {
        console.error('Ошибка сети:', error)
        alert('Ошибка сети. Попробуйте позже.')
      }
    }
    document.getElementById('urlForm').addEventListener('submit', async function (event) {
      event.preventDefault()
      const url = document.getElementById('urlInput').value
      const urlDescrip = document.getElementById('urlInputDescrip').value
      const urlCastom = document.getElementById('urlCastom').value
    
      console.log(urlCastom)
      // Отправка данных на сервер
      await sendData(url, urlCastom, urlDescrip)
    })
    //
    async function sendData(url, urlCastom, urlDescrip) {
      try {
        const response = await fetch('/url_short/', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ url, urlCastom, urlDescrip })
        })
    
        if (response.ok) {
          const shortUrlForNew = document.getElementById('shortUrlInput')
          const result = await response.json()
          shortUrlForNew.value = result.shortUrl
          console.log('Ответ от сервера:', result, shortUrlForNew)
          // alert('Сокращенный URL создан!');
        } else {
          const errorResult = await response.json() // Получаем результат ошибки
          const shortUrlForNew = document.getElementById('shortUrlInput')
    
          if (response.status == 405) {
          } else if (response.status == 400) {
            shortUrlForNew.value = errorResult.error
          } else {
            shortUrlForNew.value = new_url
          }
    
          console.log('Ошибка от сервера: Повторный запрос', errorResult)
        }
      } catch (error) {
        console.error('Ошибка сети:', error)
        alert('Ошибка сети. Попробуйте позже.')
      }
    }
  </script>
{% endblock %}
